// -------------------- TRACKER GRID --------------------

.tracker-wrapper {

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.tracker-container {
  background-color: var(--gold);
  padding: var(--margin-xs);
  display: grid;
  grid-template-rows: auto;
  gap: 3px;
}

.tracker-row {
  display: grid;
  grid-template-columns: 3fr 6fr repeat(2, 2fr) 1fr;
  gap: 3px;
  //align-items: center;
  //height: 40px;
}

div.head > div {
  background-color: var(--gold-darker);
  padding-left: var(--margin-xs);
}

div.item > div {
  background-color: var(--gold-lighter);
  color: var(--gold-darker);
  padding: var(--margin-xs);
}

.tracker-controls {
  padding: var(--margin-xs);
  display: flex;
  justify-content: space-between;
}

// -------------------- TRACKER INPUTS --------------------

.row-cell {
  padding: var(--margin-xs);
  width: 100%;
  background-color: var(--gold-lighter);
  color: var(--gold-darker);
  border: none;
}

input {
  font-family: "Jost", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  font-weight: 400;
}

.row--acted .row-cell {
  background-color: var(--gold-darker);
  color: var(--gold-lighter);
}

.row--acted input[name="name"] {
  text-decoration: line-through;
}

.row--active input[name="initiative"] {
  background-image: url('src/assets/icons/chevron_right.png');
  background-position: 3px 11.5px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  padding-left: 24px;
}

.row-cell input:focus {
  background-color: var(--gold-lighter);
  color: var(--gold-darker);
  outline: 2px solid var(--blue-darker);
}

.row--acted .row-cell input:focus {
  background-color: var(--gold-darker);
  color: var(--gold-lighter);
  outline: 2px solid var(--blue-darker);
}

.row-cell input:-internal-autofill-selected {
  background-color: var(--gold-lighter);
  color: var(--gold-darker);
  outline: 2px solid var(--blue-darker);
}
.row--acted .row-cell input:-internal-autofill-selected {
  background-color: var(--gold-darker);
  color: var(--gold-lighter);
  outline: 2px solid var(--blue-darker);
}

// -------------------- AUTOCOMPLETE --------------------

.name-autocomplete {
  position: relative;
}

.name-autocomplete__menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  z-index: 10;
  background: var(--gold-dark);
}

.name-autocomplete__item {
  width: 100%;
  text-align: left;
  padding: 0.5rem;
  border: 0;
  background: transparent;
  cursor: pointer;
  color: var(--gold-lighter);
  font-family: "Jost", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
}

.name-autocomplete__item:hover {
  background: var(--gold-darker);
}
