---
import BaseLayout from "../layout/BaseLayout.astro"
---

<BaseLayout
	title="How to use On Deck"
	description="Initiative tracker"
>
<h1>How to use the On Deck initiative tracker</h1>
	<div>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
	</div>
	<div>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</div>
</BaseLayout>
