---
import BaseLayout from "../layout/BaseLayout.astro"
---

<BaseLayout
	title="On Deck - an initiative tracker for D&D"
	description="Initiative tracker"
>
	<div>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
	</div>
	<div>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</div>
</BaseLayout>
